{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div id="main" style="text-align: center; margin-top: 5%; margin-left: 40%; margin-right: 13%;">
<div id="question_text">
  <h4 style="color: white;">{{ q.question }}</h4>
</div>
{% if message %}
<br>
<br>
<h4 style="text-align: center;color: #262426;">{{ message }}</h4>
{% endif %}
{% if success_message %}
<br>
<br>
<h4 style="text-align: center; color: white;">{{ q.success_mess }}</h4>
{% endif %}
{% if fail_message %}
<br>
<br>
<h4 style="text-align: center;color: #262426;">{{ q.fail_mess }}</h4>
{% endif %}
{% if mode %}
<br>
<form method="POST">
{% csrf_token %}
<div class="input-group mb-3" style="text-align: center;">
  <input type="text" class="form-control" placeholder="Введите ответ" name="answer" aria-describedby="button-addon2">
  <button class="btn btn-light" type="submit" id="button-addon2" style="color: white; background-color: #262426;">Ответить</button>
</div>
</form>
{% endif %}
{% if fail_message %}
<br>
<h4 style="text-align: center; color: white;">Правильный ответ: {{ q.answer }}</h4>
{% endif %}
{% if success_message %}
  <br>
<img src="https://c.tenor.com/pIDqjS_2Ej4AAAAd/the-school-of-athens-aristotle.gif" style="height: 50%; width: 50%;">
<br>
{% endif %}
<br>
<button type="button" class="btn btn-dark" onclick="window.location.href = '{% url 'table' %}';">Продолжить</button>
</div>
{% endblock content %}