{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="main" style="text-align: center;{% if first_text %}margin-top: 15%; margin-left: 10%; margin-right: 10%;{% else %}margin-top: 11%; margin-left: 30%; margin-right: 5%;{% endif %}">

  {% if first_text %}
  <div>
    <h1 style="color: #262426;"><b>Дорогой игрок, добро пожаловать в мир удивительной философии!<br>Для дальнейшего прохождения квеста тебе необходимо ознакомиться с правилами</b></h1>
  </div>
  <br>
  <form method="post">
    {% csrf_token %}
    <button class="btn btn-light" type="submit" id="button-addon2" style="width: 20%; color: white; background-color: #262426;">К правилам</button>
  </form>
  {% endif %}

  {% if second_text %}
  <div>
    <h3 style="color: #262426;"><b>Все ответы необходимо записывать с заглавной буквы.
Если ответ на вопрос содержит перечисление, то его необходимо записывать через запятую, без пробелов.
Если ответ содержит словосочетание, то его необходимо записывать без пробелов.</b></h3>
  </div>
  <br>

  <button class="btn btn-light" type="button" onclick="window.location.href = '{% url 'table' %}';" id="button-addon#" style="width: 20%; color: white; background-color: #262426;">Начать</button>
  {% endif %}

</div>
{% endblock content %}